<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User ID = {{user_id}} not found</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1 class="app_name"><a href="/">{{myapp_name}}</a></h1>
    <h2 class="name_page">Get currencies user by ID not found page</h2>
    <h3 class="alert">User with id = {{user_id}} not found!</h3>
</body>
</html>